html, body, header, nav, ul ,li, a, div, footer, h1, h3, p {
    list-style: none;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}    

#atf {
    height: 100vh;
}

header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.0rem;
    /* border: 3px solid black; */
    /* position: fixed; */
    /* top: 0; */
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.idx-header-svg {
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 2rem;
    /* border: 3px solid red; */
}

.dnav {
    /* flex-grow: 1; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    width: 50%;
    /* border: 3px solid blue; */
}
#rec-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid yello;
    flex-grow: 1;
    padding: 0 2rem;
    height: 100%;
    /* border: 3px solid blue; */
}
.add-btn {
    /* flex-grow: 1; */
    padding: .2rem .5rem;
    text-decoration: none;
    background-color: rgb(51, 216, 51);
    border-radius: 3px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: 0 .5rem;
}
.update-btn {
        /* flex-grow: 1; */
        padding: .2rem .5rem;
        text-decoration: none;
        background-color: rgb(80, 80, 242);
        border-radius: 3px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        margin: 0 .5rem;
}
li {
    /* width: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
    /* border: 3px solid hotpink; */
}
.banner {
    height: 70%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: gray;
    color: whitesmoke;
}
div h1, div h3 {
    font-family: 'Roboto', sans-serif;
}
div h1 {
    font-size: 2.5rem;
}
footer {
    padding: 3rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li a {
    text-decoration: none;
    cursor: pointer;
    padding: .4rem;
    border-radius: 3px;
}
li a:hover {
    background-color: rgba(235, 225, 225, 0.926);
}

.app-data {
    width: 80%;
    background: white;
    border-radius: 3px;
    color: black;
    margin-bottom: 3rem;;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start
}
.app-data h1 {
    padding: .5rem 0;
}
.app-data p {
    padding: .25rem 0;
}



/* TABLE */
table {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: darkslategray;
    margin-top: 1px;
    margin-bottom: 10px;
    border-collapse: collapse;
    background-color: white;
    width: 80%;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem 0.5rem;
    text-align: left;
}

th {
    background-color: white;
}

.gray-row {
    background: rgb(225, 225, 225);
}

.bold {
    font-weight: 500;
}
